<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="app">
		<!-- <form v-on:submit.prevent="addUser">
		<input type="text" v-model="addUserForm.name" name="">
		<input type="text" v-model="addUserForm.login" name="">
		<input type="email" v-model="addUserForm.email" name="">
		<input type="number" min="1" v-model="addUserForm.age" name="">
		<input type="text" v-model="addUserForm.gender" name="">
		<input type="submit" name="">
		<input type="button" v-on:click="sortByDate" value="Сортировка по дате по возрастанию">
		<input type="button" v-on:click="invertSort" value="Сортировка по имени по возрастанию">
		<UserTable v-bind:source="users" v-bind:fields="fields"></UserTable> -->
		<input type="text" v-model="event.name" placeholder="Имя">
		<input type="text" v-model="event.date" placeholder="Дата">
		<input type="text" v-model="event.description" placeholder="Описание">
		<input type="text" v-model="event.cost" placeholder="Цена">
		<EventView v-bind:event="event"></EventView>
		<input type="button" v-on:keyup.ctrl.53="createEvent" v-on:click="createEvent" value="Создать мероприятие">
		<UserTable v-bind:source="events" v-bind:fields="fields"></UserTable>
	</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>